body{
  background: -webkit-linear-gradient(to bottom right, #335e35, #4e9051) fixed;
  background: -moz-linear-gradient(to bottom right, #335e35, #4e9051) fixed;
  background: -ms-linear-gradient(to bottom right, #335e35, #4e9051) fixed;
  background: -o-linear-gradient(to bottom right, #335e35, #4e9051) fixed;
  background: linear-gradient(to bottom right, #335e35, #4e9051) fixed;
}

#main{
  font-family: 'Lato', sans-serif;
  color: #fef6c6;
}

#svg-container{
  height: 100vh;
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
	align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-flow: column;
  flex-flow: column;
}

#poly-face{
  width: 30rem;
  height: 30rem;
  display: block;
}

#text-info{
  padding: 10rem 5rem 0;
  display: block;

  -webkit-animation: reveal-text 2s;
  -moz-animation: reveal-text 2s;
  -ms-animation: reveal-text 2s;
  -o-animation: reveal-text 2s;
  animation: reveal-text 2s;
}

.link{
  display: inline-block;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height: 3.4rem;
  border-bottom: 1rem solid black;
  -webkit-transition: 0.5s ease;
  transition: 0.2s ease;
}

.link a{
  color: inherit;
  text-decoration: none;
}

.link:hover{
  -webkit-transition: 0.5s ease;
  transition: 0.2s ease;
  border-bottom-width: 3.2rem;
}

@media (min-width: 550px) {
  .link{
    height: 4rem;
  }

  .link:hover{
    border-bottom-width: 3.8rem;
  }
}

.triangle-poly-face{
  fill: none;
  stroke: #fef6c6;
  stroke-width: 4;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}

.highlighted-poly{
  stroke: #335e35;
}

.circle-outline{
  fill: none;
  stroke: #fef6c6;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

@-webkit-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
  }

  100% {
    opacity: 1;
    padding-top: 10rem;
  }
}


@-moz-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
  }

  100% {
    opacity: 1;
    padding-top: 10rem;
  }
}


@-ms-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
  }

  100% {
    opacity: 1;
    padding-top: 10rem;
  }
}


@-o-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
  }

  100% {
    opacity: 1;
    padding-top: 10rem;
  }
}


@keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
  }

  100% {
    opacity: 1;
    padding-top: 10rem;
  }
}
