.navbar{
  border-bottom: 1px solid #ABE5AE;
  width: 100%;
}

#poly-face{
  height: 20%;
  width: 20%;
  margin: 3% 40%;
}

.circle-outline{
  fill: none;
  stroke: #ABE5AE;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.triangle-poly-face{
  fill: none;
  stroke: #ABE5AE;
  stroke-width: 3;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}