body{
  background: #fff;
}

#main{
  font-family: 'Josefin Sans', sans-serif;
  color: #335e35;
}

#svg-container{
  height: 100vh;
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
	align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-flow: column;
  flex-flow: column;
}

#poly-face{
  width: 35rem;
  height: 35rem;
  display: block;
}

.text-info-container{
  padding: 5rem 2rem 0;
  display: block;

  -webkit-animation: reveal-text 1s;
  -moz-animation: reveal-text 1s;
  -ms-animation: reveal-text 1s;
  -o-animation: reveal-text 1s;
  animation: reveal-text 1s;
}

.text-info{
  font-size: 2rem;
}

.link{
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -0.2rem 0 #00ff0d;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.link:hover{
  color: #335e35;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  box-shadow: inset 0 -1rem 0 #00ff0d;
}

@media (min-width: 550px) {
  #text-info-container{
    padding: 5rem 5rem 0;
  }
}

.triangle-poly-face{
  fill: none;
  stroke: #335e35;
  stroke-width: 4;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}

.circle-outline{
  fill: none;
  stroke: #335e35;
}

.outline-thick1{
  stroke-width: 1;
}

.outline-thick2{
  stroke-width: 2;
}

.outline-thick4{
  stroke-width: 4;
}

.orbit-circle{
  fill: #fff;
  stroke: #335e35;
  stroke-width: 6;
}

@-webkit-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
    div { opacity: 0; }
  }

  100% {
    opacity: 1;
    padding-top: 5rem;
    div { opacity: 1; }
  }
}


@-moz-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
    div { opacity: 0; }
  }

  100% {
    opacity: 1;
    padding-top: 5rem;
    div { opacity: 1; }
  }
}


@-ms-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
    div { opacity: 0; }
  }

  100% {
    opacity: 1;
    padding-top: 5rem;
    div { opacity: 1; }
  }
}


@-o-keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
    div { opacity: 0; }
  }

  100% {
    opacity: 1;
    padding-top: 5rem;
    div { opacity: 1; }
  }
}


@keyframes reveal-text{
  0% {
    opacity: 0;
    padding-top: 0;
    div { opacity: 0; }
  }

  100% {
    opacity: 1;
    padding-top: 5rem;
    div { opacity: 1; }
  }
}
